<h4>Instrucciones:</h4>
<ol>
  <li>
    Crear un servicio que se encargue de hacer peticiones GET
  </li>
  <li>
    Crear componente (customSelect) al que se le pasará información
  </li>
  <li>
    Hacer petición GET a través de servicio creado:
    <span>http://lnxsapl1d.dev.unix.banorte.com:9080/wconfig-services/window/1464</span>
    <div class="codeDiv">
      <code [innerHTML]="windowI ">
      </code>
    </div>
  </li>
  <li>
    Usar atributo style del primer elemento de array controls como estilo de un select dentro del componente creado
    (customSelect)
  </li>
  <li>
    Hacer petición GET a través de servicio creado:
    <span>http://lnxsapl1d.dev.unix.banorte.com:9080/wconfig-services/catalog/inputvalue</span>
    <div class="codeDiv">
      <code [innerHTML]="validaciones | htmlCode">
      </code>
    </div>
  </li>
  <li>
    Llenar select de customSelect con array de validaciones, mostrando sólo aquellas cuyo atributo "isAsync" sea igual a
    0
  </li>
  <li>
    Crear una forma dentro de customSelect (de preferencia usar reactive forms) que se llene con los campos del objeto
    seleccionado [id, type, description, isAsync]
  </li>
  <li>
    Permitir modificar solamente campo description (los demás campos deben permanecer inhabilitados)
  </li>
  <li>
    Crear botón que permanezca inhabilitado hasta que se modifique el valor de la description y que capture los valores
    de la forma una vez sea habilitado
  </li>
  <li>Mostrar valores de la forma</li>
</ol>

<app-custom-select [Options]="catalogo" [Window]="window"></app-custom-select>
